﻿@page "/Category"
@inherits CategoryBase


<div class="pad-l-15">
    <div class="row">
        <div class="topLabel col-md-6 col-xs-12 text-center"><h4>Category List</h4></div>
        <div class="col-md-6 col-xs-12 text-right">
            <a class="btn btn-primary1" href="/CategoryDetails"><span class="oi oi-plus"></span> Add New Category</a>
            <a class="btn btn-warning1">
                <span class="oi oi-caret-left" @onclick="CallGoBack"> Back</span>
            </a>
        </div>
    </div>
</div>
<hr />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>sr.no.</th>
            <th>Icon</th>
            <th>Category</th>
            <th>Detail</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    @if (_CategoryList != null)
    {
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var item in _CategoryList)
            {
                <tr>
                    @{i = i + 1;}
                    <td class="td1">@i.ToString()</td>
                    <td class="td1"><img src="@item.CategoryPic" alt="@item.CategoryName" style="height:30px;" /></td>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryDetail</td>
                    <td class="td1"><a href="@($"/categorydetails/{item.strCategoryId}")"><span class="oi oi-pencil"></span></a></td>
                    <td class="td1"><a @onclick="() => DeleteCategory(item.strCategoryId)"> <span class="oi oi-trash"></span></a></td>
                </tr>
            }
        </tbody>
    }
</table>
