﻿@inherits BisApprovalBase
@{string clsIsActive = bIsActive == true ? "check-circle btn btn-success" : "times-circle btn btn-danger";}
<span class="fa fa-2x fa fa-@clsIsActive" @onclick="SetActive"></span>

@if (IsShow)
{
    <EditForm Model="_Business_Approval" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            @if (ActiveOperation)
                            {
                                <span>Select date of subscription for @BusinessNameP.</span>
                            }
                            else
                            {
                                <span>Are you sure to remove subscription for @BusinessNameP?</span>
                            }
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                @onclick="CloseModal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @if (ActiveOperation)
                    {
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="BannerName">From Date</label>
                                
                                <InputDate class="form-control" placeholder="Date Of Manufacturing"
                                           @bind-Value="_Business_Approval.FromDate" />
                            </div>
                            <div class="form-group">
                                <label for="BannerName">To Date</label>
                                <InputDate class="form-control" placeholder="Date Of Manufacturing"
                                           @bind-Value="_Business_Approval.ToDate" />
                            </div>
                        </div>
                    }
                    <div class="modal-footer">
                        <a class="btn btn-secondary" data-dismiss="modal"
                           @onclick="CloseModal">
                            Cancel
                        </a>
                        @if (ActiveOperation)
                        {
                            <button type="submit" class="btn btn-success">
                                Yes
                            </button>
                        }
                        else
                        {
                            <a class="btn btn-danger" @onclick="(async ()=>await Removesubscription())">
                                Yes
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </EditForm>

}