﻿@page "/Business"
@inherits BusinessBase
@using UiPro.CommonComponents;
<div class="pad-l-15">
    <div class="row">
        <div class="topLabel col-md-6 col-xs-12 text-center"><h4>Business List</h4></div>
        <div class="col-md-6 col-xs-12 text-right">
            <a class="btn btn-warning1">
                <span class="oi oi-caret-left" @onclick="CallGoBack"> Back</span>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="form-check-inline">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" @onchange="ShowAllClick" checked="@bIsShowAll">Show All
    </label>
</div>
<div class="form-check-inline">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" @onchange="ApprovedClick" checked="@bIsApproved">Approved
    </label>
</div>
<div class="form-check-inline">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" @onchange="FeaturedClick" checked="@bIsFeatured">Featured
    </label>
</div>
<div class="form-check-inline">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" @onchange="ActiveClick" checked="@bIsActive">Active
    </label>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>sr.no.</th>
            <th>Icon</th>
            <th>BusinessName</th>
            <th>Category</th>
            <th>Contact No</th>
            <th>Email Id</th>
            <th>Active</th>
            <th>Approved</th>
            <th>Featured</th>
            <th>GstNo</th>
            <th>LicenseNo</th>
            <th>Description</th>
        </tr>
    </thead>
    @if (_BusinessList != null)
    {
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var item in _BusinessList)
            {
                <tr>
                    @{i = i + 1;}
                    <td class="td1">@i.ToString()</td>
                    <td class="td1"><img src="@item.Logo" alt="@item.BusinessName" style="height:30px;" /></td>
                    <td>@item.BusinessName</td>
                    <td>@item.CategoryName</td>
                    <td>@item.ContactNo</td>
                    <td>@item.EmailId</td>
                    @{string clsIsActive = @item.IsActive == true ? "check-circle btn btn-success" : "times-circle btn btn-danger";}
                    <td class="text-center">
                        <Confirm strId="@item.strBusinessId" bIsActive="@item.IsActive" strUrl="Business/SetActiveBusiness" strMessage="Are you sure to " elementName="@item.BusinessName"></Confirm>
                        @*<span class="fa fa-2x fa fa-@clsIsActive"></span>*@
                    </td>
                    @{string clsIsApproved = @item.IsApproved == true ? "check-circle btn btn-success" : "times-circle btn btn-danger";}
                    <td class="text-center">
                        <BisApproval strId="@item.strBusinessId" bIsActive="@item.IsApproved" BusinessNameP="@item.BusinessName"></BisApproval>
                    </td>
                    @{string clsIsFeatured = @item.IsFeatured == true ? "check-circle btn btn-success" : "times-circle btn btn-danger";}
                    <td class="text-center">
                    <IsFeaturedChild strId="@item.strBusinessId" bIsActive="@item.IsFeatured" BusinessNameP="@item.BusinessName"></IsFeaturedChild>
                    </td>
                    <td>@item.GstNo</td>
                    <td>@item.LicenseNo</td>
                    <td>@item.strDescription</td>
                </tr>
            }
        </tbody>
    }
</table>


