﻿@inherits BannerDetailsBase
@page "/BannerDetails"
@page "/BannerDetails/{BannerId_p}"

<EditForm Model="_AddNewBannerRequest" OnValidSubmit="HandleValidSubmit">
    <div class="pad-l-15">
        <div class="row">
            <div class="topLabel col-md-6 col-xs-12 text-center"><h4>Banner Details</h4></div>
            <div class="col-md-6 col-xs-12 text-right">
                <button type="submit" class="btn btn-primary1"><span class="oi oi-plus"></span> Save</button>
                <a class="btn btn-warning1">
                    <span class="oi oi-caret-left" @onclick="CallGoBack"> Back</span>
                </a>
            </div>
        </div>
    </div>
    <hr />
    <div class="clsForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="StateName">State Name</label>
            <select @onchange="BindCity" id="StateName" value="@strStateId" class="form-control">
                <option value="">
                    All
                </option>
                @if (_StateList != null)
                {
                    @foreach (var itemstate in _StateList)
                    {
                        <option value="@itemstate.strStateId">@itemstate.StateName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="CityName">City Name</label>
            <InputSelect id="CityName" @bind-Value="_AddNewBannerRequest.CityId" class="form-control">
                <option value="">
                    All
                </option>
                @if (_CityList != null)
                {
                    @foreach (var itemCity in _CityList)
                    {
                        <option value="@itemCity.strCityId">@itemCity.CityName</option>
                    }
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="StateName">Category Name</label>
            <select @onchange="BindBusiness" value="@strCategory" id="CategoryName" class="form-control">
                <option value="">Select Category</option>
                @if (_StateList != null)
                {
                    @foreach (var itemCategory in _GetCategoryList)
                    {
                        <option value="@itemCategory.strCategoryId">@itemCategory.CategoryName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="CityName">Bussiness Name</label>
            <InputSelect id="CityName" @bind-Value="_AddNewBannerRequest.BusinessId" class="form-control">
                <option value="">
                    Select Business
                </option>
                @if (_Business_DropdownList != null)
                {
                    @foreach (var itemBiss in _Business_DropdownList)
                    {
                        <option value="@itemBiss.strBusinessId">@itemBiss.BusinessName</option>
                    }
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="BannerName">Banner Name</label>
            <InputText class="form-control" @bind-Value="_AddNewBannerRequest.BannerName" id="BannerName" placeholder="Banner Name"></InputText>
        </div>
        <div class="form-group">
            <label for="BannerName">From Date</label>
            <InputDate class="form-control" placeholder="Date Of Manufacturing"
                       @bind-Value="_AddNewBannerRequest.FromDate" />
        </div>
        <div class="form-group">
            <label for="BannerName">To Date</label>
            <InputDate class="form-control" placeholder="Date Of Manufacturing"
                       @bind-Value="_AddNewBannerRequest.ToDate" />
        </div>
        <div class="form-group">
            <label for="FileInput">Banner Image</label>
            <br />
            <InputFile OnChange="HandleFileSelected" />
            <a>@ImageName</a>
            @if (!string.IsNullOrEmpty(BannerId_p))
            {
                <img src="@_AddNewBannerRequest.strImage" style="height:30px" />
            }
        </div>
        <div class="form-check">
            <InputCheckbox class="form-check-input" type="checkbox"
                           @bind-Value="_AddNewBannerRequest.IsActive" />
            <label class="form-check-label" for="IsActive">Active</label>
        </div>
    </div>
</EditForm>