﻿@page "/CategoryDetails"
@page "/CategoryDetails/{CategoryID_p}"
@inherits CategoryDetailsBase

<EditForm Model="_AddCategoryRequest" OnValidSubmit="HandleValidSubmit">
    <div class="pad-l-15">
        <div class="row">
            <div class="topLabel col-md-6 col-xs-12 text-center"><h4>Category Details</h4></div>
            <div class="col-md-6 col-xs-12 text-right">
                <button type="submit" class="btn btn-primary1"><span class="oi oi-plus"></span> Save</button>
                <a class="btn btn-warning1">
                    <span class="oi oi-caret-left" @onclick="CallGoBack"> Back</span>
                </a>
            </div>
        </div>
    </div>
    <hr />
    <div class="clsForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="CategoryName">Category Name</label>
            <InputText class="form-control" @bind-Value="_AddCategoryRequest.CategoryName" id="CategoryName" placeholder="CategoryName"></InputText>
        </div>
        <div class="form-group">
            <label for="CategoryDetail">CategoryDetail</label>
            <textarea class="form-control" @bind-value="_AddCategoryRequest.CategoryDetail" @bind-value:event="oninput" id="CategoryName" placeholder="CategoryName"></textarea>
        </div>
        <div class="form-group">
            <label for="FileInput">Category Icon </label>
            <br />
            <InputFile OnChange="HandleFileSelected" />
            <a>@ImageName</a>
            @if (!string.IsNullOrEmpty(CategoryID_p))
            {
                <img src="@_AddCategoryRequest.CategoryPic" style="height:30px" />
            }
        </div>
        <div class="form-check">
            <InputCheckbox class="form-check-input" type="checkbox"
                           @bind-Value="_AddCategoryRequest.IsActive" />
            <label class="form-check-label" for="IsActive">Active</label>
        </div>
    </div>
</EditForm>
