﻿@inherits ConfirmBase
@{string clsIsActive = bIsActive == true ? "check-circle btn btn-success" : "times-circle btn btn-danger";}
<span class="fa fa-2x fa fa-@clsIsActive" @onclick="SetActive"></span>
@code
{
    
}
@if (IsShow)
{
<div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Be carefully before taking the action!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            @onclick="CloseModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{ string conMessage = strMessage + " "+ (bIsActive==true?"deactive":"active") + " " + elementName + "?";}
                    @conMessage
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            @onclick="CloseModal">
                        No
                    </button>
                    <button type="button" class="btn btn-danger"
                             @onclick="(async () => await YesConfirm())">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
}