﻿@page "/Banner"
@inherits BannerBase
<div class="pad-l-15">
    <div class="row">
        <div class="topLabel col-md-6 col-xs-12 text-center"><h4>Banner List</h4></div>
        <div class="col-md-6 col-xs-12 text-right">
            <a class="btn btn-primary1" href="/BannerDetails"><span class="oi oi-plus"></span> Add New Banner</a>
            <a class="btn btn-warning1">
                <span class="oi oi-caret-left" @onclick="CallGoBack"> Back</span>
            </a>
        </div>
    </div>
</div>
<hr />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>sr.no.</th>
            <th>Image</th>
            <th>Banner Name</th>
            <th>City</th>
            <th>Business</th>
            <th>From</th>
            <th>To</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    @if (_BannersDetails != null)
    {
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var item in _BannersDetails)
            {
                <tr>
                    @{i = i + 1;}
                    <td class="td1">@i.ToString()</td>
                    <td class="td1"><img src="@item.strImage" alt="@item.BannerName" style="height:30px;" /></td>
                    <td>@item.BannerName</td>
                    <td>@item.CityName</td>
                    <td>@item.BusinessName</td>
                    <td>@item.FromDate.ToString("dd-MM-yyyy")</td>
                    <td>@item.ToDate.ToString("dd-MM-yyyy")</td>
                    <td class="td1"><a href="@($"/Bannerdetails/{item.strBannerId}")"><span class="oi oi-pencil"></span></a></td>
                    <td class="td1"><a @onclick="() => DeleteBanner(item.strBannerId)"> <span class="oi oi-trash"></span></a></td>
                </tr>
            }
        </tbody>
    }
</table>


