﻿
<div class="top-row pl-4 navbar navbar-dark">
    <div class="col-5">
        <a class="navbar-brand" href="">
            <img src="Image/logo.png" style="height:35px;" />
        </a>
    </div>
    <div class="col-1">
        <a href="/signin">
            <span class="oi oi-account-logout" style="color: #a2a2a2;"></span>
        </a>
    </div>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Category">
                <span class="oi oi-layers" aria-hidden="true"></span>Category
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Business">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Business
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="Users">
                <span class="oi oi-person" aria-hidden="true"></span> Users
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Banner">
                <span class="oi oi-browser" aria-hidden="true"></span> Banner
            </NavLink>
        </li>
    </ul>
</div>
@using UiPro.CommonService
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    [Inject] private ICommonServices __ICommonServices { get; set; }
    //protected override async Task OnInitializedAsync()
    //{
    //    string strToken = await __ICommonServices.GetLocalStorage("Token");
    //    if (string.IsNullOrEmpty(strToken))
    //    {
    //        __ICommonServices.PageNavigation("/signin");
    //    }
    //}
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string strToken = await __ICommonServices.GetLocalStorage("Token");
            if (string.IsNullOrEmpty(strToken))
            {
                __ICommonServices.PageNavigation("/signin");
            }
        }
    }
}
